.skins {
  overflow: hidden;
}

.skins_bg {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../assets/training-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.skins_wrapper {
  padding: 128px 40px 60px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skins_wrapper-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skins_hero {
  width: 100%;
  max-width: 500px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  z-index: 2;
}

.skins_hero h3 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: -0.5px;
  line-height: 1;
  transform: skew(-14deg);
  font-size: 90px;
  white-space: nowrap;
  font-size: clamp(80px, 50%, 90px);
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
    to bottom,
    var(--white),
    rgba(255, 255, 255, 0.1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skins_list {
  width: 500px;
  height: 63vh;
  padding: 9px 6px;
  background-color: var(--dark-blue);
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-color: #dbd7d4ec;
  z-index: 10;
}

.skins_list::-webkit-scrollbar {
  width: 6px;
}

.skins_list::-webkit-scrollbar-thumb {
  background: #dbd7d4ec;
  border-radius: 10px;
}

.skins_list::-webkit-scrollbar-track {
  background: transparent;
}

.skins_list-skin {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.skins_list-skin-item {
  width: 100%;
  height: 46px;
  padding: 0 20px;
  margin: 0 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  border-radius: 6px;
}

.skins_list-skin-item:hover {
  background-color: var(--neon-blue-bg);
}

.skins_list-skin-item.active {
  outline: 3px solid var(--neon-blue);
  background-color: var(--neon-blue-bg);
}

.skins_list-skin-item-left {
  display: flex;
  flex-direction: row;
}

.skins_list-skin-item-left h4 {
  font-size: 20px;
}

.skins_list-skin-event {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.skins_list-skin-event img {
  height: 20px;
  width: auto;
}

.skin_list-skin-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.skin_list-skin-name.common {
  color: var(--common);
}
.skin_list-skin-name.rare {
  color: var(--rare);
}
.skin_list-skin-name.epic {
  color: var(--epic);
}
.skin_list-skin-name.legendary {
  color: var(--legendary);
}
.skin_list-skin-name.mythic {
  background: linear-gradient(90deg, #01c19d, #dddddd, #c1269a);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.skins_list-skin-item-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.skins_list-skin-item-right-currency {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skins_list-skin-item-right-price {
  width: 50px;
  text-align: left;
}

.skins_list-skin-item-right-avalibility {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skins_skin {
  width: 100%;
  position: relative;
  z-index: 5;
}

.skins_skin-img-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.skins_skin-img {
  width: 100%;
  height: auto;
  min-height: 90vh;
  position: absolute;
  object-fit: cover;
  z-index: 5;
  overflow: hidden;
}

.skins_skin-desc {
  width: 100%;
  max-width: 320px;
  position: absolute;
  bottom: 20%;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  text-align: left;
  color: var(--white);
  font-size: 20px;
  z-index: 20;
  opacity: .8;
}

.skins_skin-desc.mobile {
  display: none;
}

.skins_skin-desc-icon {
  width: 24px;
  height: 24px;
  padding-right: 3px;
  transform: translateY(3px);
}

@media screen and (max-width: 2100px) {
  .skins_wrapper {
    padding: 128px 0px 60px 40px;
  }

  .skins_skin-img img {
    left: -5%;
  }

  .skins_skin-desc {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1750px) {
  .skins_skin-img img {
    left: -10%;
  }
}

@media screen and (max-width: 1350px) {
  .skins_wrapper {
    height: 100%;
    padding: 88px 0px 60px 0px;
    flex: auto;
    display: flex;
    justify-content: center;
    gap: none;
  }

  .skins_wrapper-flex-inner {
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .skins_wrapper-flex {
    width: 100%;
    height: 90vh;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }

  .skins_hero {
    padding: 0;
  }

  .skins_hero h3 {
    padding: 20px 20px;
  }

  .skins_skin {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .skins_skin-img {
    bottom: 12%;
  }

  .skins_list {
    width: 100%;
    height: 156px;
    box-sizing: border-box;
  }

  .skins_skin-desc.mobile {
    display: flex;
  }

  .skins_skin-desc.desktop {
    display: none;
  }

  .skins_skin-desc {
    width: 100%;
    padding: 0 0 4px 0;
    text-align: left;
    max-width: none;
    position: relative;
    bottom: 0;
    justify-content: start;
  }
}

@media screen and (max-width: 750px) {
  .skins_wrapper-flex {
    min-width: min-content;
  }

  .skins_wrapper {
    padding: 56px 0px 60px 0px;
  }
}

@media screen and (max-width: 600px) {
  .skins_hero {
    width: 100%;
    text-align: left;
    flex-wrap: no-wrap;
    flex-shrink: 0;
  }

  .skins_hero h3 {
    margin: 0;
    font-size: 90px;
    white-space: wrap;
    font-size: clamp(70px, 50%, 90px);
  }
}

@media screen and (max-width: 500px) {
  .skins_list-skin-item-left h4 {
    font-size: 16px;
  }

  .skins_list-skin-event {
    padding-right: 5px;
  }

  .skins_list-skin-event img {
    height: 16px;
  }

  .skins_list-skin-item-right {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .skins_list-skin-item-right-currency {
    padding-right: 5px;
  }

  .skins_list-skin-item-right-currency img {
    width: 16px;
  }

  .skins_list-skin-item-right-price {
    width: 40px;
  }

  .skins_list-skin-item-right-avalibility {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skins_skin-desc {
    font-size: 15px;
    opacity: .6;
  }

  .skins_skin-desc-icon {
    width: 18px;
    height: 18px;
    padding-right: 0;
    transform: translate(-2px, 1px);
  }
}
