.hero-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--black);
}

/* About */
.hero-details_info {
  max-width: 2600px;
  width: 100%;
  min-height: 760px;
  padding: 56px 40px 80px;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  text-align: left;
}

.hero-details_info-wraper {
  width: 720px;
}

.hero-details_info-name {
  margin: 0;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
}

.hero-details_info-desc {
  font-size: 20px;
  font-weight: 400;
}

.hero-details_info-general {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.hero-details_info-general-point {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-align: left;
}

.hero-details_info-general-point-icon img {
  width: 24px;
  height: 24px;
}

.hero-details_info-general-point-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  flex-shrink: 0;
}

.hero-details_info-general-point-role {
  text-transform: capitalize;
}

/* Abilities */
.hero-details_abilities {
  max-width: 2600px;
  width: 100%;
  min-height: 1040px;
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--black);
}

.hero-details_abilities-wrapper {
  position: relative;
}

.hero-details_abilities-bg {
  width: 100%;
  height: 1080px;
  margin-bottom: -19px;
  margin-top: -19px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  -webkit-mask-box-image: url(../../assets/top_and_bottom_divider.svg);
  -webkit-mask-box-image-slice: 20 350 fill;
  mask-border: url(../../assets/top_and_bottom_divider.svg);
  mask-border-slice: 20 350 fill;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
  z-index: 2;
}

.hero-details_abilities-bg::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(107, 114, 143);
  background: linear-gradient(
    0deg,
    rgba(107, 114, 143, 0.29735644257703087) 0%,
    rgba(0, 0, 0, 0.1516981792717087) 25%,
    rgba(0, 0, 0, 0.0844712885154062) 60%,
    rgba(0, 0, 0, 0.5018382352941176) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.hero-details_abilities-bg-video {
  width: 100%;
  height: 100%;
}

.hero-details_abilities-bg video {
  object-fit: cover;
}

.hero-details_abilities-content {
  padding: 80px 40px;
  position: relative;
  z-index: 3;
}

.hero-details_abilities-content-heading h2 {
  margin: 0 0 72px 0;
  font-size: 60px;
  text-transform: uppercase;
}

.hero_details_abilities-content-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_details_abilities-content-ability-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero_details_abilities-content-ability {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero_details_abilities-content-ability-content {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  opacity: 0.6;
  transition: var(--transition-hover);
}

.hero_details_abilities-content-ability-content:hover {
  opacity: 1;
}

.hero_details_abilities-content-ability-content--active {
  opacity: 1;
}

.hero_details_abilities-content-ability-content:hover {
  .hero_details_abilities-content-ability-icon {
    background-color: var(--white-transparent);
  }
}

.hero_details_abilities-content-ability-icon {
  height: 68px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: var(--transition-hover);
}

.hero_details_abilities-content-ability-icon--active {
  background-color: var(--white-transparent);
  opacity: 1;
}

.hero_details_abilities-content-ability-icon img {
  width: 48px;
}

.hero_details_abilities-content-ability-name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.hero_details_abilities-content-ability-spacer {
  display: none;
}

.hero_details_abilities-content-ability-name--mobile {
  display: none;
}

.hero_details_abilities-content-ability-description {
  max-width: 700px;
  padding-top: 20px;
  font-size: 19px;
  font-weight: 500;
}

/* Tips */
.hero-details_tips-wrapper {
  width: 100%;
  height: 100%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.hero-details_tips {
  width: 100%;
  max-width: 2600px;
  height: 100%;
  padding: 80px 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: left;
  box-sizing: border-box;
  background-position-y: bottom;
}

.hero-details_tips h2 {
  margin: 0;
  font-size: 60px;
  text-transform: uppercase;
}

.hero-details_tips-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.hero-details_tip {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-details_tip h3 {
  min-width: 80px;
  margin: 0;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
    to bottom,
    var(--white),
    rgba(255, 255, 255, 0.01)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-details_tip p {
  margin-left: 12px;
  font-size: 26px;
  transform: translateY(12px);
}

@media screen and (max-width: 960px) {
  /* About */
  .hero-details_info {
    padding: 80px 40px;
    text-align: center;
  }

  .spacer {
    width: 100%;
    height: 320px;
    content: "";
  }

  .hero-details_info-wraper {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  /* About */
  .hero-details_info-name {
    font-size: 36px;
  }
  .hero-details_info-desc {
    font-size: 16px;
  }

  .hero-details_info-general {
    font-size: 16px;
  }

  /* Abilities */
  .hero-details_abilities {
    width: 100%;
    height: 100%;
    min-height: auto;
  }

  .hero-details_abilities-bg {
    width: 100%;
    height: 100%;
    min-height: auto;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-mask-box-image: none;
    mask-border: none;
  }

  .hero-details_abilities-content {
    height: 600px;
  }

  .hero-details_abilities-content-heading h2 {
    margin-bottom: 28px;
    font-size: 36px;
  }
  .hero_details_abilities-content-ability {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .hero_details_abilities-content-ability-content {
    width: auto;
  }
  .hero_details_abilities-content-ability-icon {
    height: 48px;
    width: 48px;
  }
  .hero_details_abilities-content-ability-icon img {
    width: 28px;
  }
  .hero_details_abilities-content-ability-name {
    display: none;
  }

  .hero_details_abilities-content-ability-spacer {
    height: 350px;
    display: block;
  }

  .hero_details_abilities-content-ability-name--mobile {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }

  .hero_details_abilities-content-ability-description {
    max-width: 700px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
  }

  /* Tips */
  .hero-details_tips {
    padding: 70px 40px 40px;
  }

  .hero-details_tips h2 {
    font-size: 36px;
  }

  .hero-details_tip h3 {
    min-width: 60px;
    font-size: 70px;
  }

  .hero-details_tip p {
    font-size: 22px;
  }
}

@media screen and (min-width: 1900px) {
  /* Abilities */
  .hero-details_abilities-bg {
    width: 100%;
    height: 1080px;
  }
}
