.home {
  height: 100%;
  width: 100%;
  perspective: 1000px;
  overflow: hidden;
  position: "relative";
  z-index: 999;
}

.home_container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt0783c76a58bd39e2/660c5cce39a9b3d622f86c68/Desktop_Outro_Sky.jpg?format=webply&quality=90");
  background-repeat: no-repeat;
  background-size: cover;
}

.home_container-img {
  height: 95vh;
  width: auto;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

.home_container-header {
  padding-top: 400px;
  display: flex;
  line-height: 110px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-shadow: 8px 8px 13px rgba(0, 0, 0, 0.185);
  z-index: 10;
}

.home_container-header h2 {
  margin: 14px 0;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 95px;
  font-weight: 500;
  letter-spacing: -0.5px;
  transform: skew(-14deg);
}

.home_container-header-img {
  height: 90px;
  width: auto;
}

.home_container-button-group {
  width: 100%;
  padding-top: 48px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.home_container-button {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.home_container-button:hover {
  outline: 3px solid var(--white);
}

.home_container-button.primary {
  background-color: var(--blizzard-blue-transparent);
}
.home_container-button.secondary {
  background-color: var(--orange-transparent);
}

.home_container-button a {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--white);
}

.home_container-button img {
  height: 15px;
  margin-left: 1px;
  transform: translateY(1px);
}

@media screen and (max-width: 1000px) {
  .home_container {
    background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt29fc116531f1acaa/660c5c8d022c72028b87ff42/960_Outro.jpg?format=webply&quality=90");
    background-position: center;
  }

  .home_container-header {
    line-height: 80px;
  }
  .home_container-header h2 {
    font-size: 70px;
  }
  .home_container-header-img {
    height: 70px;
  }
  .home_container-button-group {
    padding-top: 48px;
    gap: 100px;
  }
}

@media screen and (max-width: 700px) {
  .home_container-header {
    padding-top: 300px;
    line-height: 36px;
  }
  .home_container-header h2 {
    margin: 14px 0;
    font-size: 38px;
  }
  .home_container-header-img {
    height: 36px;
    width: auto;
  }
  .home_container-button-group {
    padding-top: 18px;
    gap: 20px;
  }

  .home_container-button {
    font-size: 15px;
  }

  .home_container-button a {
    padding: 12px 22px;
  }
}
