.navbar_wrapper {
  width: 100%;
}

.navbar {
  height: 72px;
  position: fixed;
  left: 16px;
  right: 16px;
  top: 16px;
  padding: 0 12px 0 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--background-blur);
  backdrop-filter: blur(20px);
  z-index: 99;
}

.navbar_hamburger {
  display: none;
}

.navbar_flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar_home {
  height: 100%;
  padding: 0 8px 0 16px;
  align-items: center;
  background: var(--white);
  border-radius: 8px 0 0 8px;
}

.navbar_home-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar_home-logo-how {
  width: 140px;
  height: 48px;
}

.navbar_home-logo-ow {
  transform: translateX(-5px);
  width: 48px;
  height: 48px;
}

.navbar_links {
  padding-left: 8px;
  display: flex;
}

.navbar_links a {
  text-decoration: none;
}

.navbar_link {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.navbar_link-content {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 0 8px;
  font-size: 18px;
  transition: var(--transition-hover);
  cursor: pointer;
}

.navbar_link:hover {
  background-color: var(--darken-100);
}

.navbar_link-text {
  display: flex;
  align-items: center;
  color: var(--dark);
}

.navbar_link-icon {
  max-width: max-content;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  color: var(--darken-600);
}

.navbar_cta {
  min-height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 8px;
  transition: var(--transition-hover);
}

.navbar_cta:hover {
  background-color: var(--orange-hover);
}

.navbar_cta-content {
  height: 100%;
  display: flex;
  align-content: center;
}

.navbar_cta-text {
  display: flex;
  flex-direction: row;
}

/* Overlay */

.overlay {
  height: 100vh;
  width: 100vw;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--darken-600);
}

/* sub-nav */

.navbar_menu {
  display: none;
}

.navbar_subnav {
  width: 320px;
  position: absolute;
  top: 58px;
}

.navbar_subnav-decor {
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.navbar_subnav-decor img {
  width: 20px;
  height: 10px;
  transform: translateY(0.75px);
}

.navbar_subnav-links {
  width: 100%;
  padding: 12px;
  position: relative;
  left: -12px;
  text-align: left;
  font-weight: 400;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--shadow-100);
}

.navbar_link:hover .navbar_subnav {
  display: block;
}

.navbar_subnav-link {
  height: 48px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  border-radius: 8px;
  transition: var(--transition-hover);
}

.navbar_subnav-link:hover {
  background-color: var(--darken-100);
}

/* Transitions */

.overlay-transition-enter {
  opacity: 0;
}

.overlay-transition-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}

.overlay-transition-exit {
  opacity: 1;
}

.overlay-transition-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

.subnav-transition-enter {
  opacity: 0;
  transform: translateY(-16px);
}

.subnav-transition-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 200ms, transform 200ms;
}

.subnav-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.subnav-transition-exit-active {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 200ms, transform 200ms;
}

.subnav-mobile-transition-enter {
  opacity: 0.7;
  transform: translateX(-16px);
}

.subnav-mobile-transition-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 100ms, transform 100ms;
}

.subnav-mobile-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.subnav-mobile-transition-exit-active {
  opacity: 0;
  transform: translateX(0px);
  transition: opacity 200ms, transform 200ms;
}

/* Reactive */

@media screen and (max-width: 750px) {
  .navbar_wrapper {
    width: 100%;
    // height: 56px; // 56 + 16 px
  }

  .navbar {
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 0;
    align-items: center;
    border-radius: 0;
  }

  .navbar_hamburger {
    display: block;
    height: 56px;
    width: 56px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar_hamburger-inner {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: var(--transition-hover);
  }

  .navbar_hamburger:hover .navbar_hamburger-inner {
    background-color: var(--darken-100);
  }

  .navbar_home {
    margin: 0 auto;
    background-color: transparent;
    transform: translateX(16px);
  }

  .navbar_home-logo-how {
    width: 140px;
    height: 40px;
  }

  .navbar_home-logo-ow {
    transform: translateX(-16px);
    width: 40px;
    height: 40px;
  }

  .navbar_links {
    display: none;
  }

  .navbar_cta {
    min-height: 40px;
    padding: 0 12px;
    margin-right: 8px;
  }

  /* mobile menu */

  .navbar_menu {
    height: 100vh;
    width: 480px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--white);
  }

  .navbar_wraper {
    padding: 8px;
  }

  .navbar_link.mobile {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 5px;
  }

  .navbar_link.mobile.selected {
    background-color: var(--darken-100);
  }

  .navbar_link-content.mobile {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
  }

  .navbar_link-text.mobile {
    width: 100%;
  }

  .navbar_link-icon.mobile {
    width: 10px;
    padding: 8px;
  }

  .mobile_subnav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .mobile_subnav-links {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .mobile_subnav-links a {
    height: 100%;
    text-decoration: none;
    font-weight: 500;
    color: var(--black);
  }

  .mobile_subnav-link {
    min-height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    transition: var(--transition-hover);
  }

  .mobile_subnav-link:hover {
    background-color: var(--darken-100);
  }
}
