.counterPicking {
  overflow: hidden;

  background-color: var(--black);
  color: var(--white);
}

.counterPicking_container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background: radial-gradient(
    50% 252.84% at 50% 49.94%,
    #242a42 7.27%,
    #121524 100%
  );
}

.counterPicking_wraper {
  padding: 128px 40px 60px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.counterPicking_list ul {

}

.counterPicking_list li {
  list-style: none;
}

.counterPicking_list-hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    50% 4798% at 50% 50.12%,
    #353e62 48%,
    #242a42 100%
  );
  border: 3px solid var(--white);
  border-radius: 6px;
}

.counterPicking_list-hero-tile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.counterPicking_list-hero h3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  letter-spacing: -0.5px;
  line-height: 1;
  transform: skew(-14deg);
  text-transform: uppercase;
}

.counterPicking_list-hero-img {
  height: 120px;
}

.counterPicking_list-hero-button {
  margin-right: 30px;
  background-color: transparent;
  border: none;
  transition: var(--transition-hover);
  cursor: pointer;
}

.counterPicking_list-hero-button.rotated {
  transform: rotate(180deg);
}

.counterPicking_list-hero-button img {
  width: 40px;
  height: auto;
}

.counterPicking_list-counters {
  max-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  transition: var(--transition-hover-long);
}

.counterPicking_list-counters.expanded {
  max-height: 500px;
}

.counterPicking_list-role-group {
  display: flex;
}

.counterPicking_list-role-heroes {
  display: flex;
}

.counterPicking_list-counter-hero img {
  width: 80px;
  height: auto;
}
