:root {
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */
  --white: #ffff;
  --white-transparent: #ffffff57;

  --black: #000000;
  --dark: #1d253a;
  --darken-100: #0000000d;
  --darken-600: #00000080;
  --shadow-100: rgba(0, 0, 0, 0.1);

  --dark-blue: #1e243a;
  --blizzard-blue: #05a0fa;
  --light-blue: #54bbf7;
  --neon-blue: #1ee3e4;
  --neon-blue-bg: #1ee4e415;

  --orange: #f06414;
  --orange-hover: #f1742b;

  --mythic: linear-gradient(90deg, #01c19d, #dddddd, #c1269a);
  --legendary: #ff9c00;
  --epic: #ed3cef;
  --rare: #0b9ccf;
  --common: #ffffff;

  --background-blur: rgba(229, 235, 244, 0.8);
  --background-no-blur: rgba(229, 235, 244, 0.95);
  --background-hero: hsla(0, 0%, 100%, 0.9);

  /* ANIMATIONS */
  --transition-hover: color 0.1s ease, background-color 0.1s ease,
    text-decoration-color 0.1s ease, filter 0.1s ease, border-color 0.1s ease,
    scale 0.1s ease;

    --transition-hover-long: color 0.2s ease, background-color 0.2s ease,
    text-decoration-color 0.2s ease, filter 0.2s ease, border-color 0.2s ease,
    scale 0.2s ease;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
